.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--hero {
    padding: 11px 44px;
    color: @White;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      padding: 17px 27px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--primary {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 10px 44px;
    font-size: 16px;
    line-height: 20px;
    color: @White;
    background-color: @basic-green;
    border: none;

    @media (min-width: @tablet-width) {
      padding: 13px 44px;
      font-size: 20px;
    }
  }

  &--arow {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding: 4px 47px 4px 2px;
    font-size: 16px;
    line-height: 16px;
    color: @black;
    background-image: url("../../img/programs/arow.svg");
    background-size: 24px 12px;
    background-position: 118px 13px;
    background-repeat: no-repeat;
    transition: 0.3s;

    &:hover {
      background-image: url("../../img/programs/arow-activ.svg");
      background-size: 32px 12px;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
