.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
  }

  &--additional {
    padding-top: 11px;
    padding-bottom: 19px;
    box-shadow: 0 1px 0 0 @special-grey-1;
    border-top: 1px solid @special-grey-1;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      padding: 25px 38px 28px;
      box-shadow: none;
      border: 1px solid @special-grey-1;
      background-color: @White;
    }

    @media (min-width: @desktop-width) {
      padding: 15px 0 16px;
      border: none;
      border-top: 1px solid @special-grey-1;
      background-color: @White;

      &:last-child {
        border-bottom: 1px solid @special-grey-1;
      }
    }
  }
}

.card__card-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 25px;
  box-sizing: border-box;

  &--add {
    padding: 25px 0;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      background-color: @White;
      border: 2px solid @basic-grey;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 37px 39px 37px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 32px 39px 32px;
  }
}

.card__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-bottom: 22px;
  }

  &--add {
    flex-direction: column;
    padding-top: 53px;
    margin-bottom: 21px;

    @media (min-width: @tablet-width) {
      padding-top: 161px;
    }
  }
}

.card__item-info {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 12px;
  width: 80px;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 174px;
    margin-bottom: 12px;
    padding: 0 8px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding-right: 8px;
  }

  &--add {
    width: 280px;
    margin-bottom: 8px;
    text-align: center;

    @media (min-width: @tablet-width) {
      width: 146px;
      margin-bottom: 23px;
      padding: 0 6px;
      line-height: 22px;
      text-align: center;
    }
  }

  &--additional {
    width: 134px;
    margin-bottom: 10px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      padding: 0;
      text-align: left;
    }
  }
}

.card__discription {
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 176px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.card__item-image {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    margin-top: -73px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 196px;
    padding-left: 4px;
    margin-top: -80px;
    margin-bottom: 45px;
  }

  &--bg {
    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 45px;
    }
  }
}

.card__button {
  @media (min-width: @desktop-width) {
    margin-left: 6px;
    margin-right: 6px;
  }

  &--additional {
    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.card___toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-20px);

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    top: 52px;
    transform: translateX(-29px);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: 15px;
    left: 5px;
    background-color: @special-grey-7;

    @media (min-width: @tablet-width) {
      width: 60px;
      top: 29px;
      left: 0;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 612px 244px;
    column-gap: 38px;
    align-items: center;
  }
}

.card__content {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    height: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
