.field {
  position: relative;
}

.field__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field__name {
  max-width: 229px;
  width: 100%;
  margin: 0;
  margin-left: 14px;
  padding: 11px 15px 13px;
  font-family: @oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  border: none;
  box-shadow: 0 0 0 1px @special-grey-5;
  outline: none;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 0 1px @special-grey-3;
  }

  &:focus {
    box-shadow: 0 0 0 2px @dark-grey;
  }

  @media (min-width: @tablet-width) {
    max-width: 567px;
    padding: 10px 19px 11px;
    font-size: 20px;
    line-height: 30px;
  }

  &--heft {
    margin-left: 20px;

    @media (min-width: @tablet-width) {
      margin-left: 0;
      max-width: 535px;
    }
  }

  &--age {
    // margin-left: 20px;

    @media (min-width: @tablet-width) {
      // margin-left: 24px;
      margin-left: 0;
      max-width: 496px;
    }
  }

  &--email {
    margin-left: 23px;

    @media (min-width: @tablet-width) {
      margin-left: 20px;
    }
  }

  &--phone {
    margin-left: 9px;

    @media (min-width: @tablet-width) {
      margin-left: 14px;
    }
  }
}

.field__name:focus + .field__icon {
  fill: @basic-green;
}

.field__icon {
  position: absolute;
  display: block;
  top: 14px;
  right: 7px;
  border: none;
  background-color: @White;

  @media (min-width: @tablet-width) {
    top: 14px;
    right: 15px;
  }

  &--email {
    stroke: @special-dark-grey;
  }
}

.field__name:focus + .field__icon--email {
  stroke: @basic-green;
}
