.field {
  position: relative;

  &:focus {
    // fill: @basic-green;
  }
}

.field__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field__name {
  max-width: 229px;
  width: 100%;
  margin: 0;
  margin-left: 14px;
  padding: 11px 15px 13px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  border: none;
  box-shadow: 0 0 0 1px @special-grey-5;
  box-sizing: border-box;

&:hover {
  // fill: @basic-green;
  box-shadow: 0 0 0 1px @special-grey-3;
}

// &:focus + .field__icon {
//   fill: @basic-green;
//   box-shadow: 0 0 0 2px @dark-grey;
// }

&:error {
  box-shadow: 0 0 0 2px @error;
}

  @media (min-width: @tablet-width) {
    max-width: 567px;
    padding: 9px 19px 10px;
    font-size: 20px;
    line-height: 30px;
  }

  &--heft {
    margin-left: 20px;

    @media (min-width: @tablet-width) {
      margin-left: 24px;
    }
  }

  &--email {
    margin-left: 23px;

    @media (min-width: @tablet-width) {
      margin-left: 20px;
    }
  }

  &--phone {
    margin-left: 9px;

    @media (min-width: @tablet-width) {
      margin-left: 14px;
    }
  }
}

input.field__name:focus + .field__icon  {
  fill: @basic-green;
}

.field__icon {
  position: absolute;
  display: block;
  top: 14px;
  right: 7px;
  border: none;
  background-color: @White;

  // &:focus {
  //   fill: @basic-green;
  // }

  @media (min-width: @tablet-width) {
    top: 14px;
    right: 10px;
  }
}
