.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer__logo-text {
    max-width: 140px;
    // text-align: center;
    padding: 39px 0 32px 0;
    outline: 1px solid #bb3fb1;
}
