.group__header {
  margin: 0;
  padding-top: 10px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
  }
}

.group__items {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #bb3fb1;

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.group__items-fl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #bb3fb1;

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 69px;
  }
}

.group__list {
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

.group__field {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.group__comment {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}
