.group {
  width: 100%;
}

.group__header {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}

.group__box {
  position: relative;
  margin-top: -1px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
    z-index: 1;

    @media (min-width: @tablet-width) {
      top: 28px;
    }

    @media (min-width: @desktop-width) {
      top: 27px;
    }
  }

  &--cat {
    @media (min-width: @tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 38px;
    }
  }

  &--commit {
    @media (min-width: @tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 39px;
    }
  }
}

.group__items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    padding: 0;
    margin: 0;
  }

  &--radio {
    @media (min-width: @tablet-width) {
      margin-top: 48px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--desctop {
    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }
}

.group__title {
  margin-left: -20px;
  margin-bottom: 8px;
  padding: 4px 22px 4px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-left: -40px;
    margin-bottom: 31px;
    padding: 4px 42px 4px 39px;
  }

  &--cat {
    width: 229px;

    @media (min-width: @tablet-width) {
      width: 598px;
      margin-bottom: 48px;
    }
  }

  &--commit {
    @media (min-width: @tablet-width) {
      margin-bottom: 49px;
    }
  }
}

.group__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
  margin: 0;
  padding: 22px 0 23px;
  list-style-type: none;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 25px 0;
    row-gap: 22px;
  }

  &--radio {
    padding-top: 25px;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 209px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: @special-grey-4;
      box-shadow: 0 158px 0 0 @special-grey-4;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    @media (min-width: @tablet-width) {
      row-gap: 13px;
      padding-top: 25px;
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 25px;
      border: 1px solid @special-grey-5;
    }
  }

  &--inner {
    @media (min-width: @desktop-width) {
      grid-template-columns: 569px 572px;
      column-gap: 78px;
    }
  }

  &--check {
    @media (min-width: @tablet-width) {
      grid-template-columns: 221px 221px;
      gap: 32px 123px;
      margin-bottom: 18px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 221px);
      column-gap: 104px;
      margin-bottom: 24px;
    }
  }
}

.group__field {
  &:last-child {
    margin-bottom: 0;
  }
}

.group__comment {
  min-height: 151px;
  margin: 0;
  padding: 9px 12px;
  font-family: @oswald-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: 174px;
    padding: 15px 19px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
  }
}

.group__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 9px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 182px;
    column-gap: 61px;
    align-items: center;
    padding-top: 9px;
    padding-left: 40px;
    padding-right: 37px;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 568px 182px;
    column-gap: 81px;
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.group__button {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.group__required-fields {
  margin: 0;
  font-family: @arial-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
