.main-footer {
  width: 100%;
  margin: 0;
  background-color: @White;
  outline: 1px solid #bb3fb1;
  box-sizing: border-box;

  // @media (min-width: @tablet-width) {
  //   width: 768px;
  // }

  // @media (min-width: @desktop-width) {
  //   width: 100%;
  // }
}

.main-footer__contacts {
  margin: 0;
  padding: 0;
}

.main-footer__footer {
  width: 100%;
  margin: 0;
  background-color: @basic-grey;
  // outline: 1px solid #bb3fb1;
}

.footer__copyright {
  width: 100%;
}


.copyright {
  // outline: 1px solid #bb3fb1;
}


