.main-footer {
  width: 100%;
  margin: 0;
  background-color: @White;
  box-sizing: border-box;
}

.main-footer__contacts {
  margin: 0;
  padding: 0;
}

.main-footer__footer {
  width: 100%;
  margin: 0;
  background-color: @basic-grey;
}

.footer__copyright {
  width: 100%;
}
