.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  align-items: center;
  background-color: @White;
}

.page__header {
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
  }
}

.page__container {
  flex-grow: 1;
}
