.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid #bb3fb1;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  outline: 1px solid #bb3fb1;
}

.promo__subtitle {
  line-height: 20px;
  color: @black;
  margin: 0;
  border: 1px solid #bb3fb1;

  @media (min-width: @tablet-width) {
    width: 176px;
    text-align: right;
  }
}
