.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    width: 366px;
  }
}

.promo__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid @special-light-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.promo__title {
  font-family: @oswald-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 14px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 15px;
    margin-bottom: 11px;
  }
}

.promo__description {
  width: 70px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: @special-grey;

  @media (min-width: @tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
    background-color: @White;
  }

  @media (min-width: @desktop-width) {
    background-color: @special-grey;
  }

  &--left {
    @media (min-width: @tablet-width) {
      width: 97px;
    }
  }

  &--right {
    @media (min-width: @tablet-width) {
      width: 127px;
    }
  }
}

.promo__value{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 176px;
    justify-content: end;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    justify-content: space-between;
  }
}

.promo__subtitle {
  margin: 0;
  margin-right: 4px;

  @media (min-width: @tablet-width) {
    width: 176px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.promo__price {
  margin: 0;

  @media (min-width: @desktop-width) {
    margin-right: 39px;
  }
}
