.slider-range {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-range__item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 560px;
  }
}

.slider-range__image {
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 560px;
  }

  &--before {
    text-align: left;
  }

  &--after {
    text-align: right;
  }
}

.slider-range__scale {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: pointer;
}

.slider-range__bar {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: @special-grey-2;

  &:hover {
    background-color: @basic-green;
  }

  &:active {
    background-color: @special-green;
  }
}

.slider-range__togle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-20px, -20px);
  background: @White;
  border: 2px solid @special-grey-2;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    border: 2px solid @basic-green;
  }

  &:active {
    border: 2px solid @special-green;
  }

  &--left::before,
  &--right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-4px, -9px);
    margin-left: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid @special-grey-2;
  }

  &--right::after {
    transform: rotate(180deg) translate(-13px, 9px);
  }

  &--left:hover::before,
  &--right:hover::after {
    border-right-color: @basic-green;
  }

  &--left:active::before,
  &--right:active::after {
    border-right-color: @special-green;
  }
}
