.social {
  width: 100%;
  padding: 22px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {

  margin-right: 24px;
  &:last-child {
    margin: 0;
  }
}
