.title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: @black;

    &--large {
      font-size: 60px;
      line-height: 60px;
    }
}
