.slider-range {
    border: 1px solid #bb3fb1;
}
.slider-range__picture {
    margin: 0 0 15px 0;
}
.slider-range__image-before {
}
.slider-range__image-after {
}
.slider-range__scale {
}
.slider-range__scale-min {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}
.slider-range__togle {
}

.slider-range__scale-max {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}