.programs-card {
    background-color: #F2F2F2;
    list-style-type: none;
}
.programs-card__content {}
.programs-card__icon {
}
.programs-card__icon-smail {
}
.programs-card__icon-xl {
}
.programs-card__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
}

.programs-card__description {

}
.programs-card__button {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}