.example {
  width: 320px;
  max-width: 1440px;
  margin: 0;
  background-color: @special-grey;
  box-sizing: border-box;
  border: 1px solid #bb3fb1;
}
@media (min-width: @tablet-width) {
  .example{
    width: 768px;
  }
}
@media (min-width: @desktop-width) {
  .example{
    width: 1440px;
  }
}
.example__wrapper {
  margin: 0;
  padding: 25px 20px 40px 20px;
  // box-sizing: border-box;
  border: 1px solid #bb3fb1;
}
@media (min-width: @tablet-width) {
  .example__wrapper {
    padding: 0 30px 56px 30px;
  }
}
@media (min-width: @desktop-width) {
  .example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 193px;
    padding: 0 110px 56px 110px;
  }
}
.example__title {
  margin: 0 0 40px 0;
  border: 1px solid #bb3fb1;
}

.example__description {
  margin-bottom: 20px;
  border: 1px solid #bb3fb1;
}
.example__promo {
  margin: 0 0 20px 0;
}




