.example {
    width: 320px;
    margin: 0;
    padding: 25px 20px 40px 20px;
    background-color: #EAEAEA;
    box-sizing: border-box;
    border: 1px solid #bb3fb1;
}
.example__title {
    margin: 0 0 40px 0;
    border: 1px solid #bb3fb1;
}

.example__description {
    margin-bottom: 20px;
    border: 1px solid #bb3fb1;
}
.example__promo {
    margin: 0 0 20px 0;
}
.promo {
    border: 1px solid #bb3fb1;
}
.promo__item {
}
.promo__title {
}
.promo__description {
    
}
.example__subtitle {
    line-height: 20px;
    color: #000000;
    margin: 0 0 40px 0;
    border: 1px solid #bb3fb1;
}

.example__slider {
}
.slider-range {
    border: 1px solid #bb3fb1;
}
.slider-range__picture {
    margin: 0 0 15px 0;
}
.slider-range__image-before {
}
.slider-range__image-after {
}
.slider-range__scale {
}
.slider-range__scale-min {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}
.slider-range__togle {
}
.visually-hidden {
}
.slider-range__scale-max {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}