.example {
    width: 320px;
    margin: 0;
    padding: 25px 20px 40px 20px;
    background-color: #EAEAEA;
    box-sizing: border-box;
    border: 1px solid #bb3fb1;
}
.example__title {
    margin: 0 0 40px 0;
    border: 1px solid #bb3fb1;
}

.example__description {
    margin-bottom: 20px;
    border: 1px solid #bb3fb1;
}
.example__promo {
    margin: 0 0 20px 0;
}

.example__subtitle {
    line-height: 20px;
    color: #000000;
    margin: 0 0 40px 0;
    border: 1px solid #bb3fb1;
}

.example__slider {
}
