.main-header {
  margin: 0;
  padding: 10px 20px 17px 20px;
  border: 1px solid #8a2be2;


}
.header {
  background-color: #ffffff;
}
.header__logo{

}
.header__navigation {

}
.navigation {}
.navigation__item {
  }
.navigation__icon {
  }
.navigation__list {
  }

.visually-hidden {
}
.site-list {}

.site-list__item {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  &--current{

  }
}


