//color

@basic-green: #68B738;
@transparent-green: rgba(104, 183, 56, 0.85);
@basic-grey: #F2F2F2;
@dark-grey: #444444;
@black: #000000;
@White: #ffffff;

//viewports
@tablet-width: 768px;
@desktop-width: 1440px;

//visually-hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
