.card {
  margin: 0;
  padding: 13px 0 19px;

}
@media (min-width: @tablet-width) {
  .card {
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: @desktop-width) {
  .card {
    display: flex;
    padding: 26px 38px 28px 38px;
  }
}
.card__card-box {
  margin: 0;
  padding: 11px 0 14px 0;
  outline: 1px solid #bb3fb1;
}

.card__item-image {
  margin: 0;
}

.card__title {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey;
}


.card__button {
  font-size: 16px;
  line-height: 20px;
  color: @White;
  background-color: @basic-green;
}


.card__box {
  outline: 1px solid #bb3fb1;
}
