.main-footer {
    width: 320px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #bb3fb1;
    box-sizing: border-box;
}
.main-footer__contacts {
    margin: 0;
    padding: 0;
}
.contacts {
    border: 1px solid #bb3fb1;
}
.contacts__info {
    padding: 26px 20px;
}
.contacts__info-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
}
.contacts__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}
.main-footer__map {
}
.main-footer__footer {
    margin: 0;
    padding: 22px 20px;
    background-color: #F2F2F2;
    border: 1px solid #bb3fb1;
}
.main-footer__logo-text {
    border: 1px solid #bb3fb1;
}
.main-footer__logo-image {
}
.main-footer__social {
}
.social {
    border: 1px solid #bb3fb1;
}
.social__list {
    list-style-type: none;
    padding: 0;
}
.social__item {
}
.social__link {
}
.social__link--vkontakte {
}
.social__link--youtube {
}
.social__link--telegram {
}
.main-footer__copyright {
}
.copyright {
    border: 1px solid #bb3fb1;
}
.main-footer__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
}
.main-footer__logo-html {
}