.main-footer {
  width: 100%;
  // max-width: 1440px;
  margin: 0;
  background-color: @White;
  outline: 1px solid #bb3fb1;
  box-sizing: border-box;

  // @media (min-width: @tablet-width) {
  //   width: 768px;
  // }
  
  // @media (min-width: @desktop-width) {
  //   width: 100%;
  // }
}

.main-footer__contacts {
  margin: 0;
  padding: 0;
}

.main-footer__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 22px 20px;
  background-color: @basic-grey;
  outline: 1px solid #bb3fb1;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 58px 55px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 58px 110px;
  }
}

.main-footer__logo-text {
  width: 100px;
  height: 20px;
  outline: 1px solid #bb3fb1;
}

.copyright {
  outline: 1px solid #bb3fb1;
}

.copyright__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}
