.order-form {
  width: 320px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .order-form {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: @desktop-width) {
  .order-form {
    width: 1440px;
    padding: 0 110px;
  }
}


.order-form__subtitle {
  color: @black;
}


.order-form__container {
  outline: 1px solid #bb3fb1;
}

@media (min-width: @desktop-width) {
  .order-form__container {
    padding: 35px 0 40px 0;
  }
}


