.additional-items {
}
.additional-items__wraper {
    width: 320px;
    padding: 35px 20px;
    box-sizing: border-box;
    outline: 1px solid #bb3fb1;
}
.additional-items__title {
}
.title {
}
.title--line-after {
}
.additional-items__list {
    outline: 1px solid #bb3fb1;
}
.additional-items__card {
    outline: 1px solid #bb3fb1;
}
.card {
}
.card__box {
    outline: 1px solid #bb3fb1;
}
.card__title {
}
.card__stats {
}
.stats {
}
.stats__naim {
}
.stats__naim--add {
}
.stats__price {
}
.stats__price--add {
}
.card__button {
}
.button {
}
.additional-items__button {
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: 230px;
    background-image: url("../img/catalog/cat-backpack.png");
    background-position: left top;
    background-size: 280px 290px;
    background-repeat: no-repeat;
    text-decoration: none;
    box-sizing: border-box;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        height: 100%;
        background-color: rgba(105, 183, 56, 0.85);
        z-index: 1;
      }
}
.additional-items__image {
}
.additional-items__text {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    z-index: 5;
}