.programs {
  width: 320px;
  margin: 0;
  padding: 0 20px;
  background-color: @White;
  border: 1px solid #bb3fb1;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    max-width: 1220px;
  }
}

.programs__item {
  height: 372px;
  border: 1px solid #bb3fb1;
}
