.contacts {
    display: flex;
    flex-direction: column;

    outline: 1px solid #bb3fb1;
}

@media (min-width: @desktop-width) {
    .contacts {
        position: relative;
    }
}
.contacts__info {
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;
    background-color: @White;
    box-sizing: border-box;
    outline: 1px solid #bb3fb1;

}
@media (min-width: @tablet-width) {
    .contacts__info {
      padding: 26px 70px;
    }
}
@media (min-width: @desktop-width) {
    .contacts__info {

        width: 565px;
        position: absolute;
        top: 95px;
        left: 110px;
        z-index: 5;
    }
}
.contacts__info-title {
    flex: 0 0 139px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    outline: 1px solid #bb3fb1;
}
@media (min-width: @tablet-width) {
    .contacts__info-title {
        flex: 0 0 172px;
    }
}
.contacts__text {
    flex: 0 0 139px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    outline: 1px solid #bb3fb1;
}
@media (min-width: @tablet-width) {
    .contacts__text {
        flex: 0 0 160px;
    }
}

.contacts__map {
    height: 362px;
}
@media (min-width: @tablet-width) {
    .contacts__map {
        height: 400px;
    }
}

