.contacts {
    border: 1px solid #bb3fb1;
}
.contacts__info {
    padding: 26px 20px;
}
.contacts__info-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
}
.contacts__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}